**.iml
.gradle/
build/
.idea/
.DS_STORE
local.properties

.vs
**.exe
**.pdb
**.ilk
**.exp
WindowsExample/WindowsExample/x64
WindowsExample/WindowsExample/x86
WinDummyDLL/WinDummyDLL/x64
WinDummyDLL/WinDummyDLL/x86
WinDummyDLL/WinDummyDLL/Debug

LinuxExample/LinuxExample
